<div class="animated fadeIn">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body text-center">
                OUR INFORMATION
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-right"><strong>Name: </strong></div>
                        <div class="col-9">Nguyễn Tuấn Điền</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right"><strong>Phone: </strong></div>
                        <div class="col-9">01665381321</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right"><strong>Facebook: </strong></div>
                        <div class="col-9">Nguyễn Tuấn Điền</div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right"><strong>Address: </strong></div>
                        <div class="col-9">55/57 Bau Cat, Ward 14, Tan Binh District, HCM city</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div #gmap style="width:100%;height:400px"></div>
            </div>
        </div>
    </div>
</div>